<mat-grid-list cols="3"  rowHeight="80vh">
  <mat-grid-tile *ngFor="let product of products">
    <mat-card class="example-card" >
      <!-- <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>{{product.name}}</mat-card-title>
        <mat-card-subtitle>{{product.id}}</mat-card-subtitle>
      </mat-card-header> -->
      <!-- <img mat-card-image src="{{product.imgurl}}" alt="Photo of a Shiba Inu"> -->
      <mat-card-content>
        <p>
          The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-flat-button color="primary">Add to Cart</button>
      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>